<!-- Header dùng chung cho các trang -->
<header>
	<div id="title-name"><h1>FUKUA BLOG</h1></div>
	<nav>
		<a href="/"> Home </a>
		<a href="/create-blog"> Create Blog </a>
		
	</nav>
	<hr>
</header>
